h1,
p {
  color: #000;
}

a {
  color: #00f;
  text-decoration: underline;
}

a:visited {
  color: #f0f;
}

hr {
  border-color: #000;
}

button {
  border-color: #000;
  color: #000;
  background-color: transparent;
}

button:hover {
  background-color: #000;
  color: #fff;
}
