<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/engine/theme/style.css" />
    <link rel="stylesheet" href="/engine/theme/theme.css" />
  </head>
  <body>
    <h1 class="title"><%= title %></h1>
    <p><%= description %></p>
    <hr />
    <ul id="quicklinks"></ul>
    <script>
      const paths = '<%= links %>'.split(',');
      let linkEls = [];

      paths.forEach(i => {
        let el = document.createElement('a');
        el.href = i;
        linkEls.push(el);
      });

      const qlsDiv = document.querySelector('#quicklinks');

      linkEls.forEach(i => {
        let el = document.createElement('li');
        el.appendChild(i);
        qlsDiv.appendChild(el);
      });
    </script>
  </body>
</html>
